.mb-4 {
  margin-bottom: 1rem;
}

.radius-4 {
  border-radius: 1rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.shadow {
  box-shadow: 0 -1px 3px -1px rgba(0, 0, 0, 0.1),
    0 -1px 2px -1px rgba(0, 0, 0, 0.06), 0 1px 3px -1px rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.06);
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-semibold {
  font-weight: 600;
}

.text-white {
  color: #fff;
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.text-center {
  text-align: center;
}
